/*
!/.gitignore

!/.config/
/.config/*
!/.config/nvim/
!/.config/gitui/
!/.config/alacritty/
!/.config/karabiner/
/.config/karabiner/*
!/.config/karabiner/karabiner.json

!/.tmuxinator

!.tmux.conf
!.zshrc

!/.bin


!/Library/
/Library/*
!/Library/Preferences/
/Library/Preferences/*
!/Library/Preferences/com.apple.symbolichotkeys.plist

