/*
!/.gitignore

!/.config/
# Ignore subdirectory and all including directories and files to match pattern as valid for the next pattern
/.config/*
!/.config/nvim/
!/.config/alacritty/
!/.config/karabiner/
/.config/karabiner/*
!/.config/karabiner/karabiner.json
!.tmux.conf
